section.action
    .container
        .action-row
            .action__title
                span Get Started on Buying Your 
                span New Home
            form(action="#").action__button.gallery-button
                input(type="button", value="MORE ABOUT US")
