section.testimonials
    .owl-carousel.owl-theme
        +testimonials-item("01.jpg", "01.jpg", "Testimonials", "Amanda Seyfried, Apple")
            p Liber tempor cum soluta eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum, typin no habent claritatem insitam legentis qui facit eorum claritatem. 
        +testimonials-item("02.jpg", "01.jpg", "Testimonials", "Amanda Seyfried, Apple")
            p Liber tempor cum soluta eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum, typin no habent claritatem insitam legentis qui facit eorum claritatem. 
        +testimonials-item("03.jpg", "01.jpg", "Testimonials", "Amanda Seyfried, Apple")
            p Liber tempor cum soluta eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum, typin no habent claritatem insitam legentis qui facit eorum claritatem. 
        +testimonials-item("04.jpg", "01.jpg", "Testimonials", "Amanda Seyfried, Apple")
            p Liber tempor cum soluta eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum, typin no habent claritatem insitam legentis qui facit eorum claritatem. 
